<!DOCTYPE html>

<html>

  <head>


   <!--Import Google Icon Font-->

 
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 
  <!-- Compiled and minified CSS -->

  
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">





   <!--Let browser know website is optimized for mobile-->

   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



<style>
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>




</head>



 <body>
 
 <header>
 
 <nav class="light-blue lighten-1" role="navigation">


  <div class="nav-wrapper container">
<a id="logo-container" href="/" class="brand-logo">Core Banking Solutions</a>
 
   </div>


  </nav>
 
 </header>

<main id="allthings" >

<div style="height:70px">
</div>

<div class="container" >


<div class="row right" style="width:20,height:20">


	<form action="" method="POST">


		<div class="input-field">


			<input disabled value= "{{ date }}" id="disabled" type="text" class="validate teal-text" >


			<label class="active" for="disabled" > Date</label>


		</div>


		
<div class="input-field">


			<input disabled value= "{{ time }}" id="disabled" type="text" class="validate teal-text">


			<label class="active" for="disabled"> Time</label>


		</div>


	</form>

	</div>


	<div class="row">

		<div class="col s12 m12">

			<div class="card-panel center">

				<!-- <i class=" medium material-icons">recent_actors</i> -->

				<h4 class="purple-text text-darken-5">{{ msg }}</h4>

				<!-- <p> Register here for tassle free payments!!</p> -->

			</div>

		</div>

  	</div>


    {% if bloc=="regreq" and msg != "ACCOUNT DOES NOT EXIT WITH BANK" %}

    <div class="row">

      <div class="col s12 m12">

        <div class="card-panel center">

          <!-- <h4>{{ cid }}</h4> -->
  
        <div class="row">
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cid }}" id="first_name2" type="text" class="validate">
 
             <label class="active" for="first_name2">Cust ID</label>

            </div>
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cname }}" id="first_name2" type="text" class="validate">

              <label class="active" for="first_name2">Cust Name</label>
   
         </div>
 
         </div>
    
      
       </div>
 
     </div>

      </div>
 
 	{% end %}
 		{% if bloc=="deregreq" and msg != "ACCOUNT DOES NOT EXIT WITH BANK" %}

    <div class="row">

      <div class="col s12 m12">

        <div class="card-panel center">

          <!-- <h4>{{ cid }}</h4> -->
  
        <div class="row">
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cid }}" id="first_name2" type="text" class="validate">
 
             <label class="active" for="first_name2">Cust ID</label>

            </div>
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cname }}" id="first_name2" type="text" class="validate">

              <label class="active" for="first_name2">Cust Name</label>
   
         </div>
 
         </div>
    
      
       </div>
 
     </div>

      </div>
 
 	{% end %}
    	{% if bloc=="deregrequ" and msg != "ACCOUNT DOES NOT EXIT WITH BANK" %}

    <div class="row">

      <div class="col s12 m12">

        <div class="card-panel center">

          <!-- <h4>{{ cid }}</h4> -->
  
        <div class="row">
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cid }}" id="first_name2" type="text" class="validate">
 
             <label class="active" for="first_name2">Cust ID</label>

            </div>
 
           <div class="input-field col s6">
 
             <input disabled value="{{ cname }}" id="first_name2" type="text" class="validate">

              <label class="active" for="first_name2">Cust Name</label>
   
         </div>
 
         </div>
    
      
       </div>
 
     </div>

      </div>
 
 	{% end %}




</div>
{ % if bloc =="payauth" and msg!= "ACCOUNT DOES NOT EXIT WITH BANK" %}
<div class="container center">

		<table class="striped responsive-table" style="width:200px;">
			
		 
		
        <thead>
          <tr>
              <th>Account and Payment Details</th>
              
          </tr>
	<tr></tr>
        </thead>

        <tbody>
          <tr>
            <td>Hold-Balance</td>
            <td> {{ hbal }}</td>
           
          </tr>
          <tr>
            <td>Ledger Balance</td>
            <td> {{ lbal }}</td>
            
          </tr>
          <tr>
            <td>Available balance</td>
            <td> {{ bal }} </td>
           
          </tr>
	<tr>
	
            <td>Debited Amount</td>
	
            <td> {{ damt }}</td>
            
          </tr>
          
        </tbody>
      </table>
	

			
</div>


{% end %}

</main>

<div style="height:170px"></div>


<footer class="section light-blue lighten-1 white-text center">
	<p class="flow-text">Core Banking Solutions &copy; 2019</p>
</footer>

   <!-- Compiled and minified JavaScript -->
   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
   // document.getElementById("allthings")
   $('#allthings').css('paddingBottom', $('#foot').height());
  console.log($('#foot').height());
</script>
 </body>

</html>
